<app-header></app-header>
<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 mb-5" *ngFor="let details of alldDetails">
        <h4>{{details?.Name}}</h4>
        <div class="card" style="width:100%">
            <img class="card-img-top" [src]="details?.Image" alt="Card image">
            <div class="card-body">
                <p class="card-text" *ngIf="details?.status == 'pass'">Status: <span class="text-success">{{details?.status}}</span> </p>
                <p class="card-text" *ngIf="details?.status == 'fail'">Status: <span class="text-danger">{{details?.status}}</span> </p>
            </div>
        </div>
    </div>
</div>