<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <img src="../../../assets/logo.svg" class="navbar-brand" alt="CRED Solutions" title="CRED Solutions">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink="/cameras" [routerLinkActive]="['active']" class="nav-item nav-link ">{{'Cameras' | translate}}</a>
            <a routerLink="/reporting" [routerLinkActive]="['active']" class="nav-item nav-link">{{'Reporting' | translate}}</a>
            <a routerLink="/setting" [routerLinkActive]="['active']" class="nav-item nav-link">{{'Settings' | translate}}</a>
        </div>
        <form class="form-inline ml-auto">
            <li>
                <span class="form-inline">
                    <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
                        <option *ngFor="let language of translate.getLangs()" [value]="language"
                            [selected]="language === translate.currentLang">
                            {{ language }}
                        </option>
                    </select>
                </span>
            </li>
            <li>
                <a href="javascript:void(0)"> {{'Name' | translate}} </a>
            </li>
            <li><a href="javascript:void(0)" (click)="signout()"><span class="fas fa-sign-out-alt"></span></a></li>
        </form>
    </div>
</nav>