/* You can add global styles to this file, and also import other style files */

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: white;
    /* height: 100vh; */
}


/* Text color */

.c-blue-text {
    color: #00BDFF;
}

.is-invalid {
    border: 1px solid #e61313 !important;
    box-shadow: 0 0 4px 1px #ff7878 !important;
}