<body>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" [formGroup]="loginForm">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid':submitted && logForm.email.errors }">
                            <div *ngIf="submitted && logForm.email.errors" class="invalid-feedback">
                                <div *ngIf="logForm.email.errors.required">Username is required</div>
                                <div *ngIf="logForm.email.errors.email">Username must be a valid address</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid':submitted && logForm.password.errors }">
                            <div *ngIf="submitted && logForm.password.errors" class="invalid-feedback">
                                <div *ngIf="logForm.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" name="submit" class="btn btn-info btn-md" (click)="loginSubmit()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>