body {
    margin: 0;
    padding: 0;
    background-image: url('../../../assets/login/login1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn {
    border: 1px solid #00BDFF;
    background-color: black;
}

.text-info {
    font-weight: 400px;
    color: black !important;
}